<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>the beginning</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div id="app" >
    <div class="container">
      <div class="row">
          <card v-for="(single, key) in news" :item="single" :key="single.id"> </card>
      </div>
    </div>
  </div>
 


  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="components/Btn.js"></script> -->

  <script src="./cw/Card.js"></script>
  <script src="main.js"></script>

<!--
  Вывести превю новостей.
   - Создать компонент одной новости
   - вывести циклом новости
-->

<!--
  Вывод ТОП аниме
  - создать метод загрузки данных с апи https://api.jikan.moe/v3/top/anime
  - Создать компоненты:
     1 - компонент врапер
     2 - превю аниме
     3 - прелоадер - показывает пока контент грузится
        * - обернуть загрузку данных setTimeout для визуальной наглядности прелоадера
     4 - при отсутствии контента вывести сообщение "ничего не найдено"
     5 - при ошибке вывести "произошла ошибка"
     6 - кнопка
  - добавить две кнопки-компонент
    1 - удаляет данные
    2 - обратно их загружает
    * - все предыдущие компоненты должны реагировать на изменения
  - добавить computed для фильтрации аниме:
    1 - первых 10
    2 - инверсивный порядок
    3 - по свойству type = Movie
    4 - по свойству type = TV
  - вывести кнопки переключатели филтров
-->

<!---->
</body>
</html>