<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>the beginning</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    .center {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%);
    }
</style>
</head>

<body>
<div id="app">
  <is-data-load v-if="loading"></is-data-load>
  <div v-else>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <span>Пошук: </span><input type="text" v-model="search" placeholder="Пошук..."/> 
          <br>
          <type-of-movie v-for="item in typeOfMovie" :item="item" :key="item.id"></type-of-movie>
          <div class="col-md-12">
              <btn @click.native="deleteAllCards" name="Очистити"></btn>
              <btn @click.native="getMovies" name="Завантажити"></btn>
          </div>
          <div>Знайдено: {{animeCardsLength}} елементів</div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <br>
        </div>
        <anime-cards v-for="single in filteringByType" :item="single" :key="single.mal_id"> </anime-cards>
      </div>
    </div>




  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>